@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('OpenSans-Regular.ttf') format('truetype');
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    color: #404040;
}

.current-reading {
    margin: 5%;
}

.current-reading-img {
    display: inline-block;
    width: 30%;
}

.current-reading-value {
    display: inline-block;
    width: 40%;
    position: relative;
    transform: translateY(-50%);
    font-size: 120px;
    padding-left: 10%;
}

.svg-red {
    fill: #c73131;
}

.svg-outline {
    fill: #404040;
}

